<div style="max-width: 500px;">
    <h2>Privacy Statement</h2>
    <p>
        SearchIt do not collect personal information, however we do use third party web services
        that may collect some information. We are not responsible for republished content from these apps.
        This privacy policy is subject to change without notice and was last updated on 31st Jan 2016.
        If you have any questions feel free to contact me directly here: <a href="mailto:support@skydata.onmicrosoft.com">support@skydata.onmicrosoft.com</a>
    </p>


    <h2>Technical Support</h2>
    <p>
        If you have any questions or queries about our apps, please feel free to contact me.
        Please direct all enquiries to <a href="mailto:support@skydata.onmicrosoft.com">support@skydata.onmicrosoft.com</a>
    </p>


</div>