<div id="content-header">
    <div class="padding">
        <h1>Find+ It!</h1>
    </div>
</div>
<div id="content-main">
    <div class="padding">
        <div class="ms-SearchBox">
            <input class="ms-SearchBox-field" type="text" style="width:94%"> <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i></label> <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
        </div>
        <ul class="ms-Pivot ms-Pivot--tabs">
            <li data-tab-target="companies" class="ms-Pivot-link is-selected">
                Companies
            </li>
            <li data-tab-target="people" class="ms-Pivot-link">
                People
            </li>
            <li data-tab-target="sharepoint" class="ms-Pivot-link">
                SharePoint
            </li>
            <li class="ms-Pivot-link ms-Pivot-link--overflow">
                <i class="ms-Pivot-ellipsis ms-Icon ms-Icon--ellipsis"></i>
            </li>
        </ul>
        <div class="tabs pivot-tabs">
            <div class="spinner" style="display:none;text-align: center;margin-top:100px;"><img src="../../Images/495.gif" /></div>

            <div data-container="companies" id="tab-companies" class="tab selected">
                <div class="data"></div>
            </div>
            <div data-container="people" id="tab-people" class="tab">
                <div class="data"></div>
            </div>
            <div data-container="sharepoint" id="tab-sharepoint" class="tab no-search">
                <div id="sharepoint-login">
                    <form>
                        <h3>Login to SharePoint</h3>

                        <div class="ms-TextField">
                            <label class="ms-Label">SharePoint Server</label>
                            <input class="ms-TextField-field" id="sharepoint-server" type="text" value="https://crayonsky.sharepoint.com" required>
                        </div>
                        <div class="ms-TextField">
                            <label class="ms-Label">Username</label>
                            <input class="ms-TextField-field" id="user-name" type="email" value="mohamed@crayonsky.onmicrosoft.com" required>
                        </div>
                        <div class="ms-TextField">
                            <label class="ms-Label">Password</label> 
                            <input class="ms-TextField-field" id="password" type="password" value="Password1" required>
                        </div>
                        <input type="hidden" name="dummy" value="something">
                        <button type="submit" class="tiny button" id="login">Login</button>
                    </form>
                </div>
                <div id="sharepoint-workspace" >
                    Choose SharePoint List
                  
                        <div class="ms-TextField">
                            <label class="ms-Label">List Title</label>
                            <input class="ms-TextField-field" id="list-title" type="text" required>
                        </div>
                        <input type="hidden" name="dummy" value="something">
                        <button type="button" class="tiny button" id="getList">Get List</button>
                    <button type="button" class="tiny button" id="checkwindow">Check Window</button>

                </div>
                <div class="data"></div>
            </div>

        </div>
        <button style="display:none" id="get-data-from-selection" class="ms-Button"><span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">Search selected company</span> <span class="ms-Button-description">Description of the action this button takes</span></button>
        <button style="display:none" value="FillData" id="filldata" type="button">Fill It!</button>
    </div>

</div>