
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    ViewBag.title = "SharePoint Remote Login";
}
<div id="content-header">
    <div class="padding">
        <h1>Find+ It!</h1>
    </div>
</div>
<div id="content-main">
    <div class="padding">
        <div class="ms-SearchBox">
            <input class="ms-SearchBox-field" type="text" style="width:94%"> <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i></label> <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
        </div>
        <ul class="ms-Pivot ms-Pivot--tabs">
            <li data-tab-target="companies" class="ms-Pivot-link is-selected">
                Companies
            </li>
            <li data-tab-target="people" class="ms-Pivot-link">
                People
            </li>
            <li data-tab-target="sharepoint" class="ms-Pivot-link">
                SharePoint
            </li>
            <li class="ms-Pivot-link ms-Pivot-link--overflow">
                <i class="ms-Pivot-ellipsis ms-Icon ms-Icon--ellipsis"></i>
            </li>
        </ul>
        <div class="tabs pivot-tabs">
            <div class="spinner" style="display:none;text-align: center;margin-top:100px;"><img src="../../Images/495.gif" /></div>

            <div data-container="companies" id="tab-companies" class="tab selected">
                <h3>Login to SharePoint</h3>
                <input id="sharepoint-server" value="https://crayonsky.sharepoint.com" placeholder="SharePoint Server" type="url" />
                <input id="user-name" value="mohamed@crayonsky.onmicrosoft.com" placeholder="Username" type="email" />
                <input id="password" placeholder="Password" type="password" />
                <div>
                    <button type="button" id="login">Login</button>
                    <button type="button" id="getList">Get List</button>
                    <button type="button" id="getDigest">GetDigest</button>
                </div>
                <div class="data"></div>
            </div>
            <div data-container="people" id="tab-people" class="tab">
                <div class="data"></div>
            </div>
            <div data-container="sharepoint" id="tab-sharepoint" class="tab no-search">

            </div>

        </div>
        <button style="display:none" id="get-data-from-selection" class="ms-Button"><span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">Search selected company</span> <span class="ms-Button-description">Description of the action this button takes</span></button>
        <button style="display:none" value="FillData" id="filldata" type="button">Fill It!</button>
    </div>

</div>
<script type="text/javascript">

    var username, spserver, requestDigest, scriptbase;
    $(document).ready(function () {
        app.data = [
            { "ID": 1, "Name": "Mr Hakin Andrin", "Tel": "95330558" },
            { "ID": 2, "Name": "Mr Sharepoint Office", "Tel": "98554855" }
        ];

        /**
        Home.html event handlers
        **/
        var elSearch = $('.ms-SearchBox-field');
   

        $('#getDigest').click(function () {
            SPTemp.getDigestToken("https://crayonsky.sharepoint.com");
        });
        $('#login').click(function () {
            $(this).attr("value", "Working ...");
            SPTemp.login(
                $("#user-name").val(),
                $("#password").val(),
                $("#sharepoint-server").val(),
                function (result) {
                    requestDigest = result.requestDigest;
                    spserver = $("#sharepoint-server").val();
                    username = $("#user-name").val();

                    //Get the URI decoded URLs.
                    hostweburl = spserver;
                    appweburl = spserver;

                    // resources are in URLs in the form:
                    // web_url/_layouts/15/resource
                    scriptbase = hostweburl + "/_layouts/15/";

                    console.log(result);

                },
                function (e) {
                    $(this).attr("Login");
                    console.log(e);
                })
        });

        $('#getList').click(function () {
            console.log(requestDigest);
            // Load the js files and continue to the successHandler
            $.getScript(scriptbase + "SP.RequestExecutor.js", execCrossDomainRequest);

        });










        /************************************************************/



    // Function to prepare and issue the request to get
    //  SharePoint data
    function execCrossDomainRequest() {
        // executor: The RequestExecutor object
        // Initialize the RequestExecutor with the add-in web URL.
        var executor = new SP.RequestExecutor(appweburl);

        // Issue the call against the add-in web.
        // To get the title using REST we can hit the endpoint:
        //      appweburl/_api/web/lists/getbytitle('listname')/items
        // The response formats the data in the JSON format.
        // The functions successHandler and errorHandler attend the
        //      sucess and error events respectively.
        executor.executeAsync(
            {
                url:
                    appweburl +
                    "/_api/web/lists/getbytitle('Names')/items",
                method: "GET",
                headers: { "Accept": "application/json; odata=verbose", "X-RequestDigest": requestDigest },
                success: successHandler,
                error: errorHandler
            }
        );
    }

    // Function to handle the success event.
    // Prints the data to the page.
    function successHandler(data) {
        var jsonObject = JSON.parse(data.body);
        var announcementsHTML = "";

        var results = jsonObject.d.results;
        for (var i = 0; i < results.length; i++) {
            announcementsHTML = announcementsHTML +
                "<p><h1>" + results[i].Title +
                "</h1>" + results[i].Nickname +
                "</p><hr>";
        }

        console.log(announcementsHTML);
    }

    // Function to handle the error event.
    // Prints the error message to the page.
    function errorHandler(data, errorCode, errorMessage) {
       console.log("Could not complete cross-domain call: " + errorMessage);
    }

    // Function to retrieve a query string value.
    // For production purposes you may want to use
    //  a library to handle the query string.
    function getQueryStringParameter(paramToRetrieve) {
        var params =
            document.URL.split("?")[1].split("&");
        var strParams = "";
        for (var i = 0; i < params.length; i = i + 1) {
            var singleParam = params[i].split("=");
            if (singleParam[0] == paramToRetrieve)
                return singleParam[1];
        }
    }




    });





</script>