
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<div id="content-header">
    <div class="padding">
        <h1>Find+ It!</h1>
    </div>
</div>
<div id="content-main">
    <div class="padding">
        <div class="ms-SearchBox">
            <input class="ms-SearchBox-field" type="text" style="width:94%"> <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i></label> <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
        </div>
        <ul class="ms-Pivot ms-Pivot--tabs">
            <li data-tab-target="companies" class="ms-Pivot-link is-selected">
                Companies
            </li>
            <li data-tab-target="people" class="ms-Pivot-link">
                People
            </li>
            <li data-tab-target="sharepoint" class="ms-Pivot-link">
                SharePoint
            </li>
            <li class="ms-Pivot-link ms-Pivot-link--overflow">
                <i class="ms-Pivot-ellipsis ms-Icon ms-Icon--ellipsis"></i>
            </li>
        </ul>
        <div class="tabs pivot-tabs">
            <div class="spinner" style="display:none;text-align: center;margin-top:100px;"><img src="../../Images/495.gif" /></div>

            <div data-container="companies" id="tab-companies" class="tab selected">
                <h3>Login to SharePoint</h3>
                <input id="sharepoint-server" value="https://crayonsky.sharepoint.com" placeholder="SharePoint Server" type="url" />
                <input id="user-name" value="mohamed@crayonsky.onmicrosoft.com" placeholder="Username" type="email" />
                <input id="password" placeholder="Password" type="password" />
                <div>
                    <button type="button" id="login">Login</button>
                    <button type="button" id="checkLogin">Check</button>
                    <button type="button" id="getDigest">GetDigest</button>
                </div>
                <div class="data"></div>
            </div>
            <div data-container="people" id="tab-people" class="tab">
                <div class="data"></div>
            </div>
            <div data-container="sharepoint" id="tab-sharepoint" class="tab no-search">

            </div>

        </div>
        <button style="display:none" id="get-data-from-selection" class="ms-Button"><span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">Search selected company</span> <span class="ms-Button-description">Description of the action this button takes</span></button>
        <button style="display:none" value="FillData" id="filldata" type="button">Fill It!</button>
    </div>

</div>
<script type="text/javascript">

    $(document).ready(function () {
        app.data = [
            { "ID": 1, "Name": "Mr Hakin Andrin", "Tel": "95330558" },
            { "ID": 2, "Name": "Mr Sharepoint Office", "Tel": "98554855" }
        ];

        /**
        Home.html event handlers
        **/
        var elSearch = $('.ms-SearchBox-field');
   

        $('#getDigest').click(function () {
            SPTemp.getDigestToken("https://crayonsky.sharepoint.com");
        });
        $('#login').click(function () {
            $(this).attr("value", "Working ...");
            SPTemp.login(
                $("#user-name").val(),
                $("#password").val(),
                $("#sharepoint-server").val(),
                function () {
                    $(this).attr("value", "You are in!");
                    console.log("Success", "Login success");
                },
                function () {
                    $(this).attr("Login");
                    console.log("Error", "login fail");
                })
        });

        $('#checkLogin').click(function () {
            var cookie = getCookie('FedAuth');
            console.log(cookie);
            $(this).html(cookie);
        });



    });





</script>