/* Page-specific styling */

.ms-ListItem:hover {
    background: #ECEAEA !important;
    cursor: pointer !important;
}
.ms-ListItem .ms-ListItem-secondaryText {
    color: #0078d7  !important;
    font-family: 'Segoe UI Semibold WestEuropean','Segoe UI Semibold','Segoe WP Semibold','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif  !important;
}

.ms-ListItem {
    padding-left: 10px !important;
    border-bottom: 1px solid #DED6D6 !important;
}
.ms-ListItem-primaryText {
    padding-right: 20px;
}
.ms-ListItem-secondaryText, .ms-ListItem-tertiaryText {padding-right: 0;}
.ms-ListItem-tertiaryText { line-height: 20px; }